.navbar{
  display: flex;
  height: 5vh;
  justify-content: center;
  background: white;
  position: fixed; 
  top: 0; 
  width: 100vw; 
}
button{
  color: black;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 2vh;
  font-family: 'Dela Gothic One', cursive; 
  padding: 10px;
  margin: 5px;
  text-align: center;
}