.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  position: fixed; 
  top: 0; 
  transition: 0.35s linear;
  height: fit-content;
  line-height: 2vh;
  min-height: 4vh;
  width: 100%; 
  padding: 1vw;
  z-index: 40;
}
.hidden{
  height: fit-content;
  min-height: 4vh;
  width: 100vw; 
  position: fixed;
  top: -11vh;
  transition: 0.35s linear;
}
button{
  color: #4a2a56;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 2vh;
  font-family: 'Dela Gothic One', cursive; 
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;

}
a{
  color: #4a2a56;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 2vh;
  font-family: 'Dela Gothic One', cursive; 
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;

}